@import '@fontsource/fira-mono';

:root {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--foreground: #a0abb8;
	--primary-color: #1b2026;

	--charcoal: #37404a;
	--charcoal-dark: #2b323b;
	--charcoal-light: #576575;

	--gunmetal: #142d3d;
	--gunmetal-dark: #102531;
	--gunmetal-light: #295e7e;

	--red: #8c4046;
	--red-dark: #703338;
	--red-light: #b2575f;

	--yellow: #c39b5b;
	--yellow-dark: #a77f3e;
	--yellow-light: #cfaf7c;

	--green: #6a7656;
	--green-dark: #555f45;
	--green-light: #899871;

	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #a0abb8;
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

div {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
